<header class="app">
    <button class="toggle-filters" name="filters-menu" data-ng-click="header.toggleFilters()">
        <i class="bhi-search-menu open"></i>
        <i class="bhi-times close"></i>
        <span class="badge" data-ng-show="header.SearchService.searchParams.category.length + header.SearchService.searchParams.location.length > 0">{{header.SearchService.searchParams.category.length + header.SearchService.searchParams.location.length}}</span>
    </button>
    <button class="go-back" name="over-arrow-back" data-ng-click="header.goBack()">
        <i class="bhi-arrow-left"></i>
    </button>

  <!--<a ng-href="http://www.yoh.com/{{::header.configuration.companyName}}" title="click to find some helpful resources in your job search" style="font-size:200%; color:white;margin: auto; padding:5px 0 0 5px;">CAREER RESOURCES</a>-->
  <!-- <label>{{::header.configuration.companyName}}</label> -->
    <label>Career Portal</label>
 </header>