@media print {
    html {
        overflow: visible;

        > body {
            overflow: visible;

            > section.main{ 
              > section.logo{
                 display:none;
               }
            }

            &.overview-open {
                overflow: visible;

                > section.portal-app {
                    overflow: visible;

                    > aside.sidebar {
                        display: none;

                    }

                    > section.main{
                      overflow:hidden;
                      display:none;
                        
                       > header {
                            button[name="filters-menu"], button[name="over-arrow-back"] {
                                display: none;
                            }
                        }

                        > section.fade {
                            overflow: visible;

                            > section.job-detail {
                                overflow: visible;
                                flex-direction: column;

                                > div.description {
                                    order: 2;
                                    .job-actions {
                                        display: none;
                                    }
                                }

                                > div.apply {
                                    width: 100%;
                                    button.apply, hr, .related-jobs, .category-filter {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
